@model List<student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row well">
    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Add New </a>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Age</td>
                    <td>

                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

</div>